


.about-module {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: var(--off-white);
	outline: var(--thin-border);
	border-radius: 5px;
	padding: 30px;
	gap: 20px;
}

picture {
	display: block;
	width: 80%;
}

img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.about-text a {
	color: indianred;
}

.about-module p {
	font-size: 1.5em;
	line-height: 1.2;
}

@media (width < 700px) {
	.about-module {
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
}





