


.about-module {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	outline: 3px solid blue;

}

.headshot {
	display: block;
	width: 50%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}