.site-header {
	position: sticky;
	top: 0;
	width: 100%;
	padding: var(--standard-padding);
	background-color: var(--background);
/*	outline: var(--thin-border);*/
}

.header-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
/*	background-color: var(--off-white);*/
	font-family: var(--pen);
}

.nav-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
/*	background-color: var(--off-white);*/

}


.nav-menu > li {
	display: inline-block;
	position: relative;
}

.nav-menu a {
	display: block;
	text-decoration: none;
	color: var(--brand);
}

.header-list a {
	text-decoration: none;
	color: var(--brand);
}

.dropdown-menu li {
	display: block;
}


.dropdown-menu {
	display: none;
	position: absolute;
	top: 50%;
	min-width: 160px;
	z-index: 1;
	margin-top: 0;
	padding-top: 20px;
}

.dropdown:hover + .dropdown-menu {
	display: block;
}

nav a:hover

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
    padding-inline-start: 0px;
}

ul a {
	font-size: 18px;
}



.artist-name {
	font-size: 2rem;
}

@media (width <= 700px) {
	.header-list {
		flex-direction: column;
		line-height: 1.5;
	}

@media (width <= 400px) {
	.header-list {
		flex-direction: column;
		line-height: 1.5;
	}

@media (width <= 344px) {
	.header-list {
		flex-direction: column;
		line-height: 1.5;
	}

}