

:root {

	--orange: rgb(233 79 55);
	--light-orange: rgb(233 79 55 1);
	--grey: rgb(221 223 218);
	--off-white: rgb(251 247 239);

	--pen: sans-serif;
	--paper: rgb(221,223,218,100);


	--stoke-strong: black;

	--round-corners: 8px;
	--round: 50%;
	--thin-border: 1px solid black;	
	--medium-border: 2px solid black;
	--thick-border: 3px solid black;

	--standard-padding: 1rem;
	--narrow-padding: .5rem;
	--wide-padding: 1.5rem;

}


* {
	box-sizing: border-box;
	font-family: var(--pen);
	padding: var(--standard-padding);
}


body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--paper);
}

.inner-column {
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding: var(--standard-padding);
}

.page-content {
	flex-grow: 1;
}


section {
	padding: var(--standard-padding);
}


.gallery .project-list {
	display: grid;
	justify-items: center;
	align-items: center;
	gap: 20px;
}

.project-list > li {
	display: block;
	width: 200px;
}

svg {
	display: block;
	width: 100%;
	fill: lightgrey;
	border-radius: 2%;
	stroke-width: 3px;
}


.site-footer {
/*	display: flex;*/
/*	flex-direction: column;*/
/*	justify-content: flex-start;*/
	background-color: black;
/*	outline: 3px solid hotpink;*/
}

.footer-menu {
	background-color: black;
}

.footer-menu > li {
	color: antiquewhite;
	background-color: black;
}


h1 {
	font-family: sans-serif;
	font-size: 24px;
	color: black;
}

h2 {
	font-family: sans-serif;
}



@media (min-width: 500px) {
	.gallery .image-list {
		grid-template-columns: 1fr;
	}
	.about-info {
		flex-direction: column;
	}
}

@media (min-width: 800px) {
	.gallery .project-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.about-info {
		flex-direction: row;
}

@media (min-width: 1000px) {
	.gallery .image-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
	
