

.projects-module {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 30px;
	gap: 20px;
/*	outline: 3px solid green;*/
}

.projects-module ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-radius: 5px;
	width: 100%;
	gap: 20px;
/*	outline: 3px solid red;*/

}

.projects-module li {
	background-color: white;
	border-radius: 5px;
	padding: 50px;
/*	outline: 3px solid aqua;*/
}

.projects-module h2 {
	color: white;
	font-size: 3rem;
	line-height: 1.2;
	font-weight: 700;
} 

@media (width < 700px) {
	.projects-module ul {
		flex-direction: column;
		justify-content: center;

	}
}





