

.projects-module {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	gap: 20px;
}

.projects-module ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 1rem;
	width: 100%;
}

.projects-module li > a {
	display: block;
	padding: 50px;
	color: white;
}


.projects-module li {
	background-color: var(--brand);
	border-radius: var(--round-corners);
	outline: var(--standar-padding);
}

.projects-module h2 {
	color: white;
	font-size: 2.5rem;
	line-height: 1.2;
	font-weight: 700;
} 

@media (width < 700px) {
	.projects-module ul {
		flex-direction: column;
		justify-content: center;

	}
}





