


@import 'style-reset copy 3.css';

* {
  box-sizing: border-box;
}

.logo {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.inner-column {
  width: 100%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  background-color: rgba(211, 211, 211, 1.0);
/*  border: 3px solid red;*/
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 243, 238);
}

.page-content {
  flex-grow: 1;
}


.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100%;
  font-family: Butler FREE VERSION Roman, serif;
  font-size: 24px;
/*  background-color: rgba(211, 211, 211, 0.5);*/
  gap: 10px
}

.site-header .logo {
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

span {
  font-size: 32px;
}

.site-header .inner-column{
  background-color: lightslategray;
}

.head-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 20px;
/*  border: 3px solid aqua;*/
}


.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 90px;
  height: 500px;
/*  border: 3px solid blue;*/
}

.welcome .inner-column {
  padding: 30px;
/*  border: 3px solid yellow;*/
}

.welcome-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: 20px;
/*  border: 3px solid maroon;*/
}

.welcome-info > h1 {
  font-family: Butler FREE VERSION Roman, serif;
  font-size: 32px;
/*  border: 3px solid aqua;*/
/*  max-width: 100px;*/
}


.welcome-info > iframe {
  aspect-ratio: 5/3;
  width: auto;
  border-radius: 10px;
}

.thing {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (min-width: 600px) {
  .welcome .inner-column {
    flex-direction: row;
  }
}




.about {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
}

.thing-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
/*  border: 3px solid orange;*/
}

.thing {
/*  border: 3px solid green;*/
}

 .thing, img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
/*  border: 3px solid red;*/
}

.about .text {
  font-family: Butler FREE VERSION Bold, serif;

/*	text-align: center;*/
}

.text > h2, p {
  font-size: 18px;
}

picture + .text {
  margin-top: 8px;
}

button {
  margin-top: 8px;
}

@media (min-width: 300px) {
  .about .thing {
    flex-direction: column;
    align-items: flex-start;
/*    border: 3px solid blue;*/
  }
  .about .text {
    flex-direction: column;
  }
  .welcome-info {
    flex-direction: column;
  }
}

@media (min-width: 400px) {
 .thing-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
/*    border: 3px solid blue;*/
  }
  .about .text {
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  .thing-list {
    flex-direction: row;
  }
  .about .thing {
    flex-direction: column;
    align-items: center;
/*    border: 3px solid blue;*/
  }
  .about .text {
    justify-content: center;
  }
  .welcome-info {
    flex-direction: row;
  }
}


.site-footer .inner-column {
  background-color: lightslategray;
  margin-top: 30px;
  padding-bottom: 80px;
/*  border: 3px solid blue;*/
}



.site-footer a {
  color: rgb(244, 243, 238);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
/*  background-color: lightslategray;
}


