* {
	background-color: antiquewhite;
}

h1 {
	font-family: sans-serif;
	font-size: 50px;
	color: black;
}

h2 {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: indianred;
}

ul {
	list-style-type: none;
    padding-inline-start: 0px;
}

ul a {
	font-size: 18px;
}
	
