@import "style-reset.css";


/* STRUCTURE */
* {
	box-sizing: border-box;
}


body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Open Sauce One;
	background-color: #FE0159;
/*	outline: 3px solid dodgerblue;*/
}

.inner-column {
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.page-content {
	flex-grow: 1;
}

/* STYLING */

.logo {
	display: block;
}

.svg {
	position: fixed;
	display: block;
	width: 150px;
	top: -50px;
	left: -20px;
}

.svg-2, .svg-3, .svg-4, .svg-5 {
	position: absolute;
/*	outline: 3px solid green;*/
}


svg {
	opacity: .15;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

h1 {
	margin-top: 20px;
	font-size: 24px;
}

/* SECTIONS */

.site-header {
	position: sticky;
	z-index: 10;
	top: 0;
	width: 100%;
	background-color: whitesmoke;
}


 .welcome, .about {
	background-color: #FFB8C5;
	padding: 6px;
}


.site-header .logo {
  max-width: 30px;
  border-radius: 50%;
  overflow: hidden;
}


.header-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	gap: 20px;
}

.welcome {
	position: relative;
	background-color: #FFB8C5; 
	padding-top: 5%;
	padding-bottom: 5%;
	gap: 10px;
}

.welcome-info-box {
	display: block;
	height: 10%;
	width: 100%;
}


.welcome-info {
	display: flex;
	flex-direction: column;
}


.welcome-text {
	display: flex;
	flex-direction: column;
	
}

.rectangular-box {
	display: block;
  outline: 2px solid black;
  width: 60%;
  margin-top: 30px;
}



.welcome-text > a {
	background-color: #FE0159;
	text-align: center;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	width: 100px;
	margin-top: 10px;
	padding: 3px;
}


.about {
	position: relative;
	background-color: #FE0159;
	gap: 10px;
	padding-top: 40px;
}

.things-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.thing-1, .thing-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #FFB8C5;
	z-index: 1;
	padding: 5px;
	gap: 5px;
}


@media (width <= 499px) {
	svg {
		display: none;
	}
}



@media (width >= 500px) {
	.rectangular-box {
		display: none;
	}

	.svg-2 {
		display: none;
	}

	.svg-3 {
		display: none;
	}

	.svg-4 {
		display: none;
	}

	.svg-5 {
		display: none;
	}

}

@media (width >= 550px) {
	.rectangular-box {
		display: none;
	}
	.things-list {
		flex-direction: column;
		gap: 20px;
	} 
	.thing-1, .thing-2 {
		flex-direction: row;
		justify-content: flex-start;
	}

	.thing-1 > picture, .thing-2 > picture {
		width: 50%;
	}

	.svg {
		width: 200px;
	}

	.svg-4 {
		display: none;
	}

	.svg-5 {
		display: none;
	}

}

@media (width >= 600px) {
	.things-list {
		gap: 20px;
	}

	.thing-1, .thing-2 {
		flex-direction: row;
		justify-content: flex-start;
	}

	.thing-1 > picture {
		width: 50%;
	}

	.thing-2 > picture {
		width: 50%;
	}

	.rectangular-box {
		display: none;
	}

	.svg-5 {
		display: block;
		width: 400px;
		top: 0;
		right: 0;
		transform: translate(0%, -50%);
	}
}

@media (width >= 800px) {
	
	.welcome-info {
		flex-direction: row-reverse;
		align-items: center;
	}

	.things-list {
		flex-direction: row;
		gap: 20px;
	}
  
  	.thing-1, .thing-2 {
    	flex-direction: column;
  }
  
  	.thing-1 > picture, .thing-2 > picture {
    	width: 100%;
  }

    .rectangular-box {
	 		display: block;
}

	.svg {
		display: block;
		width: 300px;
		top: -150px;
		left: 70px;
	}

}


@media (width >= 1000px) {

	.welcome {
		background-image: linear-gradient(70deg, rgb(0 0 0 / .2) 50%, rgb(255 184 197) 50%, rgb(0 0 0 / .2) 55%, rgb(255 184 197) 50%);  
	}
	
	.welcome-info {
		flex-direction: row;
		align-items: flex-start;
		gap: 20px;
	}
   
  	.thing-1, .thing-2 {
    	flex-direction: row;
    	background-color: transparent;
    	gap: 10px;
  }
  
  	.thing-1 > picture, .thing-2 > picture {
    	width: 50%;
  }

	 h1 {
	  	margin-top: 0px;
  }

  
  	.heading {
    	width: 50%;
    	border: 2px solid red;
    	background-color: #FFB8C5;
  }

	 .rectangular-box {
	  	display: none;
  }

   .svg-2 {
     	display: block;
			width: 300px;
			top: 0px;
			right: 0px;
			transform: translate(1%, -70%)
	}

   .svg-3 {
     	display: block;
			width: 350px;
			bottom: 0px;
			left: 0px;
			transform: translate(-10%, 50%);
	}

	.svg-4 {
     	display: block;
     	height: 1000px;
			width: 1000px;
			bottom: 0px;
			left: 0px;
			transform: translate(0%, 0%);
	}

	.svg-5 {
		display: none;
	}


} 

@media (width >= 1200px) {

	.svg-2 {
/*		  outline: 3px solid green;*/
     	display: block;
			width: 300px;
			top: 0px;
			right: 0px;
			transform: translate(2%, -70%)
	}

	.svg-3 {
     	display: block;
			width: 400px;
			bottom: 0px;
			left: 0px;
			transform: translate(-10%, 50%);
	}

	.svg-4 {
     	display: block;
     	height: 1000px;
			width: 1075px;
			bottom: 0px;
			left: 0px;
		  transform: translate(0%, 0%);
	}

	.svg-5 {
		display: none;
	}

}


footer {
		background-color: rgb(0 0 0);
}

