
.about {
	background-color: var(--off-white);
	font-size: 1.2rem;
	line-height: 1.2;
	border-radius: 5px;
	padding: 10px;
}


picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

inner-column {
	display: block;
	padding: 1rem;
	max-width: :1100px;
	margin-inline: auto;
	border: 2px dashed red;
	container-type: inline-size;
}

.graphic-preview {
	border: 2px solid yellow;
}

.img-list {
	display: grid;
	gap: 1rem;
	border: 2px solid blue;
}

@container (width < 500px) {
	.img-list {
		max-width: 320px;
	}
}

@container (width >= 500px) {
	grid-template-columns: 1fr 1fr;
}

@container (width >= 800px) {
	grid-template-columns: 1fr 1fr;
}

@media (width >= 1400px) {
	border: 3px solid red;
}




