
.about {
	background-color: var(--off-white);
	font-size: 1.2rem;
	line-height: 1.2;
	border-radius: var(--round-corners);
	padding: var(--standard-padding);
}

li {
	display: block;
}


picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

inner-column {
	display: block;
	padding: 1rem;
	max-width: 1100px;
	margin-inline: auto;
	container-type: inline-size;
}

.graphic-preview {
	margin: .5rem;
	border-radius: var(--round-corners);
	border: 2px solid black;
}

.graphic-grid {
	display: grid;
	gap: 1rem;


	@container (width < 500px) {
		.graphic-preview {
			max-width: 320px;
		}
	}

	@container (width >= 500px) {
		grid-template-columns: 1fr 1fr;

	}

	@container (width >= 800px) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media (width >= 1400px) {
		border: 3px solid red;
	}

}




