
.archive * {
	border-radius: 8px;
}


.archive {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
/*	padding: 1rem;*/
	gap: 1rem;
/*	outline: 1px solid green;*/
}

.archive picture {
	outline: 1px solid black;
}


.archive img {
	width: 100%;
}

.search-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: rgb(251, 247, 239, 100);
	padding: 1rem;
	gap: 1rem;
	outline: 1px solid black;
}

.index-terms {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: rgb(220, 224, 217, 100);
	padding: 1rem;
	gap: 3rem;
	outline: 1px solid black;
}

.subject {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(220, 224, 217, 100);
	padding: 1rem;
	gap: 5.1rem;
	outline: 1px solid black;
}

img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 8px;
}

h1 {
	font-size: 1.5rem;
}

h3 {
	font-weight: 700;
}

h1 + .index-terms {
	margin-top: 70px;
}









