.art-module {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 10px;
	gap: 30px;
/*	outline: 3px solid red;*/
}

.art-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 10px;
	gap: 30px;
/*	outline: 3px solid blueviolet;*/
}

picture {
	display: block;
/*	outline: 3px solid red;*/
}

img {
	display: block;
	width: 100%;
}

.art-info {
/*	outline: 3px solid lightgreen;*/
}