
.banner-module * {
	border-radius: var(--round-corners);
}

.banner-module {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
	padding: var(--standard-padding);
}


.left-side {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: var(--background);
	padding: var(--standard-padding);
	border-radius: var(--round-corners);
	gap: 20px;
	outline: var(--thin-border);
}

.left-side-panel picture {
	width: 100%;
}

.image-panel picture {
	margin-bottom: 1.5rem;
}


.bottom-rectangle {
	padding: 50px;
	outline: var(--thin-border);
}


.right-side-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	background-color: var(--background);
	padding: 1rem;
	gap: 40px;
	outline: var(--thin-border);
}


.bottom-landscape {
	background-color: var(--off-white);
	padding: 100px;
	width: 100%;
}

.circle-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	padding: var(--standard-padding);
	width: 100%;
	background-color: var(--background);
}

.circle-1, .circle-2, .circle-3 {
	display: block;
	width: 30%;
	aspect-ratio: 1 / 1;
	background-color: var(--brand);
	border-radius: var(--round);
}


@media (min-width: 300px) {
	.banner-module {
		flex-direction: column;
		align-items: flex-start;
	}

	.circle-panel {
		flex-direction: column;
		align-items: center;
		gap: 1.2rem;
	}
}

@media (min-width: 500px) {
	.banner-module {
		flex-direction: column;
	}

	.left-side {
		width: 100%;
	}

	.right-side-panel {
		width: 100%;
	}
}

@media (min-width: 800px) {
		.dual-panel {
		 flex-direction: row;
	}
		.banner-module {
			flex-direction: row;
		}

		.right-side-panel {
			align-items: center;
		}
	
}
	

@media (min-width: 1000px) {
		.circle-panel {
			flex-direction: row;
		}
	
}


