

.banner3-module {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-image: url('../images/news-panel.jpg');
	padding: 120px;
	background-size: cover;
	background-position: center;
}

 .banner3-module h2 {
 	color: white;
 	font-size: 1.2rem;
 	width: 40%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 8px;
	line-height: 1.2;
	background-color: rgb(254, 81, 1, 100);
}