

.box-module * {
	border-radius: var(--round-corners);
}


.box-module {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: var(--standard-padding);
	gap: 1rem;
}

.top-section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	background-color: var(--background);
	padding: var(--standard-padding);
	gap: 1rem;
	outline: var(--thin-border);
}

.orange-images {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.bottom-section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
/*	padding: 1rem;*/
	outline: var(--thin-border);
}


.orange-images picture {
	display: block;
	width: 100%;
	height: auto;
	padding: 0px;
	border-radius: var(--round);
	outline: var(--thin-border);
}

.orange-images img {
	width: 100%;
}

.red-box {
	width: 100%;
	padding: 100px;
	background-color: var(--background);
	outline: var(--thin-border);
}

.orange-boxes {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 75%;
	gap: 1rem;
}

.orange-box-1, .orange-box-2 {
	padding: 50px;
	width: 100%;
	background-color: var(--off-white);
	outline: var(--thin-border);
}


@media (min-width: 300px) {
	.orange-images {
		flex-direction: column;
	}

	.orange-images picture {
		width: 100%;
	}
}

@media (min-width: 500px) {
	.orange-images {
		flex-direction: column;
	}

	.orange-images picture {
		width: 100%;
	}

}


@media (min-width: 800px){
	.orange-images {
		flex-direction: row;
	}

	.orange-images picture {
		width: 100%;
	}
}



@media (min-width: 1000px) {
	.orange-images {
		flex-direction: row;
	}
}






