.circle-img-module {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1.5rem;
	.thing {
		.thing-img-1, .thing-img-2, .thing-img-3 {
			display: block;
			aspect-ratio: 1 / 1;
			background-color: var(--brand);
			border-radius: var(--round);
			padding:0px;
			width: 40%;

		}
	}
}

.text {
	text-align: center;
}

.text h2 {
	padding: var(--narrow-padding);

}

.text p + a {
	margin-top: 8px;
}

.text a {
	color: var(--light-orange);
}

.thing {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

@media (min-width: 300px) {
	.circle-img-module {
		gap: 20px;
	}

	.circle-img-module .thing {
		flex-direction: column;
		align-items: center;
	}
	.circle-img-module .text {
		flex-direction: column;
	}
}

@media (min-width: 400px) {
	.circle-img-module .thing {
		flex-direction: row;
		align-items: center;
	}
	.circle-img-module .text {
		flex-direction: column;
	}
}

@media (min-width: 500px) {
	.circle-img-module {
		flex-direction: row;
	}
	.circle-img-module .thing {
		flex-direction: column;
		align-items: center;
	}
	.circle-img-module .text {
		justify-content: center;
	}
}

