

city-paper * {
	border-radius: var(--round-corners);
}

city-paper {
	display: block;
	display: grid;
	padding: var(--narrow-padding);
	gap: 20px;
	border-radius: var(--round-corners);
	outline: var(--thin-border);
}

.main-content {
	display: block;
	display: grid;
}

.other-stories {
	display: block;
	display: grid;
}

.image-list-one, .image-list-two, .image-list-three, .image-list-four  {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: center;
	gap: 1rem;
	padding: var(--standard-padding);
}



.list-one-1, .list-one-2, .list-one-3, .list-two-1, .list-two-2, .list-two-3,
.list-three-1, .list-three-2, .list-three-3, .list-four-1, .list-four-2, .list-four-3
  {
	display: block;
	aspect-ratio: 1 / 1;
	width: 100%;
	background-color: var(--brand);
	border-radius: var(--round-corners);
}

@media(width < 700px) {

	.main-content > picture:nth-of-type(2) {
		display: none;
	}
	city-paper {
		grid-template-columns: 1fr;
	}

	.other-stories {
		grid-template-columns: 1fr 1fr;
	}
}

@media (width >= 700px) {

	.main-content > picture:nth-of-type(2) {
		visibility: visible;
	}

	.main-content {
		grid-template-columns: 1fr 1fr;
	}

	city-paper {
		grid-template-columns: 1fr;
	}

	.other-stories {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

}



