
.complicated-module * {
	border-radius: var(--round-corners);
}



.complicated-module {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}

left-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
	width: 50%;
	gap: 1rem;
}

left-section > .top-section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	outline: var(--thin-border);
}

left-section > .bottom-section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	gap: 1rem;
	outline: none;
}

.box-1, .box-2, .box-3 {
	padding: var(--standard-padding);
	outline: var(--thin-border);
}

.box-1:hover {
	background-color: var(--off-white);
}

.box-2:hover {
	background-color: var(--off-white);
}

.box-3:hover {
	background-color: var(--off-white);
}


img {
	display: block;
	opacity: 0;
}

right-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
	width: 50%;
	gap: 1rem;
}

right-section > .top-section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	gap: 1rem;
	outline: var(--thin-border);
}

right-section > .bottom-section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	outline: var(--thin-border);
	background-color: var(--off-white);
}

.orange-column-1, .orange-column-2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: var(--standard-padding);
	width: 100%;
	gap: 1rem;
}

@media (min-width: 300px) {
	.complicated-module {
		flex-direction: column;
	}
	left-section {
		width: 100%;
	}
	right-section {
		width: 100%;
	}

	.bottom-section {
		flex-diection: column;
	}
}

@media (min-width: 500px) {

}

@media (min-width: 800px) {

}

@media (min-width: 1000px) {
	.complicated-module {
		flex-direction: row;
	}
	left-section > .top-section {
		flex-direction: column;
	}
}














