

.recipe * {
	border-radius: var(--border-radius);
}

.recipe {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
/*	padding: 1rem;*/
	outline: 2px solid black;
}

header {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	gap: 1rem;
	outline: 2px solid green;
}

.title-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 60%;
	outline: 2px solid violet;
}

.description p {
	font-size: 1rem;
	line-height: 1.5;
	max-width: 50ch;
}

.description {
	margin-top: 2rem;
}

.ingredients {
	padding: 1rem;
	outline: 2px solid red;
}

.how-to {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2rem;
	gap: 2rem;
	outline: 2px solid aqua;
}

h1 {
	line-height: 1.1;
	font-weight: 700;
	max-width: 26ch;
}

@media (min-width: 300px) {
	.title-box {
		width: 100%;
	}
}

@media (min-width: 500px) {
	header {
		flex-direction: column;
	}
	.title-box {
		width: 100%;
	}
}

@media (min-width: 800px) {
	header {
		flex-direction: row;
	}
}

@media (min-width: 1000px) {
	header {
		flex-direction: row;
	}
}

