


/*STRUCTURE*/

.cta-module * {
	border-radius: var(--round-corners);
}

.cta-module {
	display: grid;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}


.info-list {
	display: grid;
	flex-direction: column;
	justify-content: flex-start;
	gap: 30px;
}


/*STYLE*/

.img-div {
	padding: 75px;
	background-image: url("../images/news-panel.jpg");
	background-size: cover;
	background-position: center;
	transition: background-image 0.5s ease-in-out;
	border-radius: 8px, 8px, 0px, 0px;	
}

.img-div:hover {
	background-image: url("../images/orange-panel.png");
}

.info-list p {
	padding: 1rem;
}


.info-list li {
	background-color: rgb(222,223,219,100);
	transition: box-shadow 0.3s ease-in-out;
  	color: black;
	outline: 1px solid black;
	
}

.info-list li:hover {
	box-shadow: 0 12px 12px 0 rgba(0,0,0,0.4);
}


/*TYPE*/

p {
	font-size: .9rem;
}


@media (min-width: 500px) {
	.cta-module .info-list {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 800px) {
	.cta-module .info-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	.cta-module .info-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}



