


/*STRUCTURE*/

.cta-module * {
	border-radius: var(--round-corners);
}

.cta-module {
	display: grid;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}


.info-list {
	display: grid;
	flex-direction: column;
	justify-content: flex-start;
	gap: 30px;
}


/*STYLE*/

.img-div {
	padding: 75px;
	background-color: var(--off-white);
	background-size: cover;
	background-position: center;
	transition: background-image 0.5s ease-in-out;
	border-radius: var(--thin-border);	
}

.img-div:hover {
	background-color: var(--brand);
}

.info-list p {
	padding: var(--standard-padding);
}


.info-list li {
	background-color: rgb(222,223,219,100);
	transition: box-shadow 0.3s ease-in-out;
  	color: black;
	outline: var(--thin-border);
	
}

.info-list li:hover {
	box-shadow: 0 12px 12px 0 rgba(0,0,0,0.4);
}


/*TYPE*/

p {
	font-size: .9rem;
}


@media (min-width: 500px) {
	.cta-module .info-list {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 800px) {
	.cta-module .info-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	.cta-module .info-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}



