

.cta-module {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px;
	gap: 10px;
	outline: 2px solid red;
}

.info-list-1, .info-list-2, .info-list-3 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 30px;
}


.column-1, .column-2, .column-3, p {
	padding: 30px;
}


 li img {
	display: block;
	width: 100%;
	outline: 2px solid green;
}

.info-list-1 li {
	outline: 2px solid black;
}


.info-list-2 li {
	outline: 2px solid black;
}


.info-list-3  li {
	outline: 2px solid black;
}

