
.detailed-module * {
	border-radius: var(--round-corners);
}

.detailed-module {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	margin-bottom: 1rem;
}

.left-info-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.left-info-box img {
	display: block;
  	height: auto;
}

.text-box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(251, 247, 239, 100);
	padding: 1rem;
	gap: 1rem;
	outline: 1px solid black;

}

.text-box picture + p {
	margin-top: 0px;
}

.text-box picture {
	width: 50%;
	outline: var(--thin-border);
	border-radius: var(--round);
}


.right-side {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	gap: 1rem;
/*	outline: 2px solid violet;*/
}

.portrait-panel {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	background-image: url("../images/portrait-panel.jpg");
	background-size: cover;
	padding: 100px;
	width: 100%;
	gap: 1rem;
	outline: 1px solid black;
}


.small-images {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
/*	outline: 2px solid violet;*/
}

.small-images picture {
	outline: var(--thin-border);
}


img {
	display: block;
}

@media (min-width: 300px)
@media (min-width: 500px)
@media (min-width: 800px)
@media (min-width: 1000px)







