/* STRUCTURE  */


.graphic-panels * {
    border-radius: 8px;
}

.graphic-panels {
  padding: 1rem;
}
* {
  box-sizing: border-box;
}


/* TYPOGOPHY  */

body {
  font-family: sans-serif;
}


.attention-voice {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1rem;
}

/* ELEMENTS  */

.graphic-panels picture {
  outline: 1px solid black;
}

.panel-1, .panel-2, .panel-3 {
  display: grid; 
  .info {
    padding: 1rem;
    justify-items: center;
    align-content: center;
    text-align: center;
}
  p {
    margin-top: 1em;
  }
  .action {
    margin-top: 1em;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    background-color: indianred;
  }

  @media (width >=700px) {
    .graphic-panels {
      padding: 1rem;
    }
  
    grid-template-columns: 1fr 1fr;
  
    &.flipped {
      picture {
        order: 2;
      }
    }
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}




