

.header-module {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
/*	outline: 3px solid yellow;*/
}

.header-module .logo {
	max-width: 60px;
	border-radius: 50%;
	overflow: hidden;
}


.logo {
	display: block;
	width: 20%;
/*	outline: 3px solid dodgerblue;*/
}

img {
	display: block;
	width: 100%;
}

.site-header {
	padding: 10px;
	outline: 3px solid darkred;
/*	background-color: lightcyan;*/
}

.site-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px;
/*	outline: 3px solid green;*/
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
/*	outline: 3px solid aqua;*/
}


a {
	color: black;
	text-decoration: none;
}
