@import "style-reset.css";
@import "index-style.css";

.site-header-module {
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	width: 15%;
	height: 100vh;
	gap: 20px;
	outline: 3px solid blue;
}

ul {
	padding-left: 5px;
	outline: 3px solid red;
}


li {
	text-decoration: none;
	list-style-type: none;
/*	outline: 3px solid green;*/
}

li +li {
	margin-top: 10px;
}

a {
	font-size: 1.5rem;
	font-family: sans-serif;
	color: black;
	text-decoration: none;
}