

* {
	box-sizing: border-box;
}

:root {

	--orange: rgb(233, 79, 55);
	--grey: rgb(221 223 218);
	--off-white: rgb(251 247 239);
	
	--stoke-strong: black;

	--round-corners: 8px;
	--round: 50%;
	--thin-border: 1px solid black;	
	--medium-border: 2px solid black;
	--thick-border: 3px solid black;
}

picture {
	display: block;
	overflow: hidden;
	img {
		display: block;
		width: 100%;
		height: auto;
		opacity: 1;
	}
}


body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	--pen: sans-serif;
	--paper: rgb(221,223,218,100);
	background-color: var(--grey);
}

.page-content {
	flex-grow: 1;
}

.inner-column {
	max-width: 1100px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}




