


.magazine * {
	border-radius: var(--round-corners);
}

.magazine {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	outline: var(--thin-border);
}


.magazine-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 50%;
	gap: 1rem;
}

.magazine-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 50%;
	gap: 1rem;
}

.red-box-top {
	width: 100%;
	padding: 6rem;
	outline: var(--thin-border);

}

.red-box-middle {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	padding: var(--standard-padding);
	gap: 1rem;
	outline: var(--thin-border);

}

.magazine picture {
	background-color: var(--color);
}

.orange-group-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 73%;
	gap: 1rem;
}

.green-box-top {
	width: 100%;
}

.green-box-bottom {
	padding: 0px;
}


.red-box-bottom {
	width: 100%;
	padding: 100px;
	outline: var(--thin-border);

}

img {
	display: block;
	width: 100%;
}


figure {
  max-width: 100%;
}

video {
  max-width: 100%;
}


@media (min-width <= 300px) {
	.magazine {
		flex-direction: column;
	}

	.magazine-left {
		width: 100%;
	}
}

@media (min-width > 500px) {
	.magazine {
		flex-direction: column;
	}
}

@media (min-width > 800px) {
	.magazine {
		flex-direction: row;
	}
}

@media (min-width > 1000px) {
	.magazine {
		flex-direction: row;
	}
}


