
@import "style-reset.css";
@import "index-style.css";


.news-panel {
	display: grid;
	padding: 10px;
	gap: 20px;
	outline: 3px solid violet;
}

.column-one, .column-two, .column-three {
	display: grid;
	width: 20%;
	gap: 5px;
	outline: 3px solid red;
}

.right-column {
	outline: 3px solid aqua;
}

.info {
    padding: 1rem;
    justify-items: left;
    align-content: left;
    text-align: left;
    width: 100%;
	outline: 3px solid orange;
}

img {
	width: 100%;
}

@media (width: <= 600px) {
	.news-panel {
		grid-template-rows: 1fr 1fr 1fr;
	}
}








