

.news-module .news-list {
	display: block;
	display: grid;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	margin-top: 40px;
	padding: 10px;
	gap: 30px;
/*	outline: 3px solid violet;*/
}


.info {
    padding: 1rem;
    text-align: center;
/*	outline: 3px solid orange;*/
}

@media (min-width: 500px) {
	
	.news-module .news-list  {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 800px) {
	
	.news-module .news-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	
 	.news-module .news-list {
		grid-template-columns: 1fr 1fr;
	}
}







