

nyt * {
	border-radius: var(--round-corners);
}

nyt {
	display: block;
	display: grid;
	padding: var(--narrow-padding);
	border-radius: var(--round-corners);
	gap: 1rem;
	outline: var(--thin-outline);
}


nyt > .main-content {
	display: block;
	display: grid;
	gap: 1rem;
}

.news-stories {
	display: block;
	display: grid;
}

.media-list, .text-list {
	display: block;
	display: grid;
}

.article-heading {
	padding: var(--standard-padding);
	border: var(--thin-border);
}

.main-content > h1 {
	padding: var(--standard-padding);
	border: var(--thin-border);
}

.media-one > h2 {
	padding: var(--standard-padding);
}

.media-two > h2 {
	padding: var(--standard-padding);
}

p {
	padding: var(--standard-padding);
}


img {
	display: block;
}

@media (width < 700px) {

}

@media (width >= 700px) {
	.media-list, .text-list {
		grid-template-columns: 1fr 1fr;
	}

	nyt > .main-content {
		grid-template-columns: 1fr;
	}


}



