
.scroll-module * {
	border-radius: 8px;
}

section-one {
	position: relative;
}

.scroll-module {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
/*	padding: 1rem;*/
	gap: 1.5rem;
/*	outline: 2px solid yellow;*/
}

.scroll-module > .column-1 {
	background-color: rgb(251,247,239,100);
}

.scroll-module > .column-1 {
	display: block;
	position: sticky;
	top: 100px;
	z-index: 1;
	padding: 1rem;
	outline: 2px solid black;
}

.column-1 > p {
	max-width: 50ch;
	line-height: 1.5;
}

.scroll-module > .column-2 {
	display: block;
	position: sticky;
	top: 100px;
	z-index: 1;
	padding: 1rem;
	background-color: rgb(251,247,239,100);
	outline: 2px solid black;
}

.column-3 {
	display: flex;
	flex-direction: column;
	z-index: 1;
	gap: 20px;
}

.column-3-info {
	padding: 1rem;
	outline: 2px solid black;
}

.column-3-info:hover {
	color: rgb(251,247,239,100);
	background-color: rgb(233, 79, 55, 100);
}

p + h3 {
	font-size: 1.2rem;
	margin-top: 1.2rem;
}

h3 + p {
	margin-top: .8rem;
/*	margin-bottom: .8rem;*/
}


@media (min-width: 300px) {
	.scroll-module {
		flex-direction: column;
	}

	.scroll-module > .column-1 {
		position: static;
		width: 100%;
	}

	.scroll-module > .column-2 {
		position: static;
		width: 100%;
	}

	.scroll-module > .column- {
		position: static;
		width: 100%;
	}
}

@media (min-width: 500px) {
	.scroll-module {
		flex-direction: column;
	}

	.scroll-module > .column-1 {
		position: static;
		width: 100%;
	}

	.scroll-module > .column-2 {
		position: static;
		width: 100%;
	}

	.scroll-module > .column-3 {
		position: static;
		width: 100%;
	}
}

@media (min-width: 800px) {
	.scroll-module {
		flex-direction: row;
	}

	.scroll-module > .column-1 {
		position: sticky;
	}

	.scroll-module > .column-2 {
		position: sticky;
	}
}

@media (min-width: 1000px) {
	.scroll-module {
		flex-direction: row;
	}
}








