
travelogue * {
	border-radius: var(--round-corners);
}

travelogue {
	display: block;
	outline: 2px solid blue;
}

.features {
	display: block;
	display: grid;
	margin-bottom: 1rem;
	outline: 2px solid red;
}

.features-list {
	display: block;
	display: grid;
	margin-bottom: 1rem;
	outline: 2px solid orange;
}


noteworthy {
	display: block;
	padding: var(--standard-padding);
	outline: 2px solid red;

}


.media-1 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 1rem;
	outline: 2px solid red;
}


.media-2 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	outline: 2px solid red;
}

travelogue picture {
	display: block;
}

travelogue img {
	display: block;
	width: 100%;
	height: auto;
}

@media (width < 300px) {
	.features-list {
		grid-template-columns: 1fr 1fr;
	}

	.media-1 {
		flex-direction: column;

	}
}

@media (width >= 500px) {
	.features-list {
		grid-template-columns: 1fr 1fr;

	.media-1 {
		flex-direction: row;

	}
}











