

whitney * {
	border-radius: var(--round-corners);
}

whitney {
	display: block;
	display: grid;
	position: relative;
	padding: 1rem;
	gap: 20px;
	border-radius: var(--round-corners);
	outline: var(--thin-border);
}

.on-view {
	position: sticky;
	display: block;
}

.upcoming {
	display: block;
	display: grid;
}

.upcoming-list {
	display: block;
	display: grid;
	gap: 20px;
}

@media (width < 700px) {
	whitney {
		grid-template-columns: 1fr; 
	}


	.upcoming-list {
		grid-template-columns: 1fr 1fr;
	}
}


@media (width >= 700px) {
	whitney {
		align-items: start;
		grid-template-columns: 3fr 2fr; 
	}

	.on-view {
		top: 100px;
	}

	.upcoming-list {
		grid-template-columns: 1fr;
	}	

}











