

@import 'style-reset copy 3.css';



html {
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
}

body {
	padding: 0px;
}


section {
	display: flex;
	flex-direction: column;
	background-color: #C2D3FD;
/*	border: 5px solid red; */
	min-height: 100vh;
	padding: 0px;
}

header {
	position: sticky;
	top: 0px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	background-color: #C2D3FD;
/*	border: 5px solid green;*/
}



.media { 
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 60vh;
	background-color: #6C95FD;
/*	border: 5px solid blue;*/
	gap: 20px;
}



.media p {
	width: 200px;
}

iframe {
  display: block;
  margin: 0px;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 5/3;
}

.image-links {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	min-height: 40vh;
	background-color: #C2D3FD;
/*	border: 5px solid blue;*/
	gap: 10px;
	padding: 10px;
}

.image-links h3, p, a {
	width: 100px;
	text-align: center;
}

a {
	display: block;
}


button:hover {
	background-color: white;
	color: black;
}

a button {
	color: white;
	background-color: black;
	border-radius: 10px;
	border: none;
	position: sticky;
	bottom: 0;
}

.h-erectus, .a-afarensis, .tchadensis {
	display: block;
	border-radius: 50%;
	max-width: 100px;
/*	border: 3px solid red;*/

}

.image-links-1, .image-links-2, .image-links-3 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
/*	border: 3px solid aqua;*/
}

.png-graphic1 {
	position: absolute;
	bottom: 0;
	right: 200px;
	display: block;
	height: 200px;
	width: 300px;
	opacity: .44;
}

.png-graphic2 {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	height: 300px;
	width: 300px;
	opacity: .33;
}



.footer {
	position: sticky;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	background-color: #35497A;
/*	border: 5px solid violet;*/
	height: 20vh;
}




@media (min-width: 500px) and (max-width: 750px) {
      .image-links {
        flex-direction: column; 
        justify-content: flex-start;
        align-itmes: stretch;
      }
      .media {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	iframe {
		max-width: 75%;
		max-height: 55%;	
	}

}

 
@media (min-width: 751px) and (max-width: 1100px) {

		.media {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

	 	.image-links {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: stretch;	
		}

		.image-links-1, .image-links-2, .image-links-3 {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
	    }
	    
	}

@media (min-width: 900px)  and (max-width: 1000px) {

		.image-links-1, .image-links-2, .image-links-3 {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
	    }
}

@media (width >= 1100px) {

		.media {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		.image-links {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: stretch;	
		}
}



















