

@import 'style-reset copy 3.css';

* {
	box-sizing: border-box;
}


section {
	display: flex;
	flex-direction: column;
	background-color: lightblue;
	border: 5px solid red; 
	min-height: 100vh;
	flex-grow: 1;
}


.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	background-color: #C2D3FD;
	border: 5px solid green;
}

.menu {
	border: 5px solid green;
}

.media { 
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 40vh;
	background-color: #6C95FD;
	border: 5px solid blue;
	gap: 20px;
}

.media div {
	width: 200px;
	height: 100px;
	background-color: white;
}

.media p {
	width: 200px;
}


iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 40vh;
	background-color: #C2D3FD;
	border: 5px solid blue;
}

.image-links h3, p, a {
	width: 100px;
	text-align: center;
}


.h-erectus, .a-afarensis, .tchadensis {
	display: block;
	border-radius: 50%;
	border: 3px solid red;

}

.image-links-1, .image-links-2, .image-links-3 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	border: 3px solid aqua;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	background-color: #35497A;
	border: 5px solid violet;
	height: 20vh;
}

@media (width < 600px) {
      .image-links {
        flex-direction: column; /* For smaller screens */
        justify-content: flex-start;
        align-itmes: stretch;
      }
    }

@media (width < 600px) {
      .image-links {
        flex-direction: column; 
        justify-content: flex-start;
        align-itmes: stretch;
        flex-grow: 1;
      }
      .media {
      	flex-direction: column;
      }
      .image-links-1, .image-links-2, .image-links-3 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
    }















