

ol {
	display: block;
	display: grid;
	list-style-type: none;
	gap: 1rem;
}


monster-card {
	display: block;
	outline: 1px solid black;
	border-radius: 8px;
	padding: 1rem;
	background-color: hsl(100 50% 70%);
}


h2, p {
	font-family: sans-serif;
}

picture {
	display: block;
	aspect-ratio: 1 / 1;
}

img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
}


@media (width <= 300px) {
	ol {
		grid-template-columns: 1fr;
	}
}

@media (width >= 500px) {
	ol {
		grid-template-columns: 1fr 1fr;
	}
}

@media (width >= 800px) {
	ol {
		grid-template-columns: 1fr 1fr 1fr;
	}
}






