body {
  box-sizing: border-box;
  background-image: url('images/background-image.png');
  background-size: cover;
/*  background-repeat: no-repeat;*/
}

.info {
  max-width: 600px;
  min-height: 750px;
/*  border: 5px solid blue;*/
  color: #F9FAF6;
  padding: 10px;
}

header {
/*  border: 5px solid lightcoral;*/

}

h1 {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  margin-bottom: 0px;
  margin-top: 10px;
}

h2 {
  font-family: sans-serif;
  font-size: 36px;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

a:hover {
  background-color: #C49601;

}

 .bio {
/*  border: 5px solid orange;*/
}

p {
  font-family: sans-serif;
  font-size: 1.25rem;
/*  border: 5px solid yellow;*/
}

p + .bio {
  margin-top: 80px;
}



