@import "CSS/style-reset.css";

* {
  box-sizing: border-box;
}

body {
  background-color: gray;
}


.grayscale {
  display: block;
  width: 100%;
}

.grayscale {
  filter: invert(70%) sepia(100%); /* Standard syntax */
  -webkit-filter: invert(70%) sepia(100%); /* For older Webkit browsers (Chrome, Safari) */
/*   transition: filter 0.01s; Smooth transition over 0.5 seconds */
}

.grayscale:hover {
  filter: none; /* Standard syntax */
  -webkit-filter: none; /* For older Webkit browsers */
  /* Alternatively, use filter: none; */
  transition: filter 3s;
}

picture {
  width: 300px;
  outline: 3px solid green;
}

li {
  list-style-type: none;
}

.gallery .img-list {
  display: grid;
/*   gap: 20px; */
}
  
  @media (min-width: 500px) {
  .gallery .img-list {
    grid-template-columns: 1fr 1fr; /* 2 columns each at an equal fraction */
  }
}

@media (min-width: 700px) {
  .gallery .img-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .gallery .img-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
