html {
	box-sizing: border-box;

}

body{
	border: 5px solid blue;
}

.dojo-image {
	background-image: url("https://www.kikumatsudojo.net/wp-content/uploads/2018/05/cropped-DoJo-53a.jpg");
	background-size: cover;
}

logo-site-title {
	position: relative;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

.site-title {
	color: #fff;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 2.25rem;
	font-weight: 800;
	line-height: 1.25;
	text-decoration: none;
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

.inner-column {
	border: 5px solid red;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}

video {
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}

p {
	p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.blog-links a {
	h2 {
    color: #000000;
}
}
