
.graphic-panel-1 {
 
  --brown: #CAAA6E;
  --red: #DC6447;
  --yellow: #E1C85F;
  --black: #010101;
  --red: indianred;
  --white: white; 

  .billy-goat {
    background-color: var(--brown);
  }

  .italian-village {
    background-color: var(--red);
  }

  .twin-anchors {
    background-color: var(--yellow);
  }

  .graphic-panel {
    display: grid;
    .info {
      padding: 1rem;
      justify-items: center;
      align-content: center;
      text-align: center;
      border: 2px solid green;
  }
    p {
      margin-top: 1rem; 
      font-size: 1.2rem;
    }
    .actions {
      margin-top: 1rem;
      justify-items: center;
      align-content: center;
      text-align: center;
      background-color: var(--white);
      padding: 6px;
      border-radius: 20px;
    }

    
    @media (width >= 700px) {
      grid-template-columns: 1fr 1fr;
      
      &.flipped {
        picture {
          order: 2;
        }
      }
    }
  }


  

}



