

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
/*	border: 3px solid red;*/
	background-color: lightgrey;
}

header > .inner-column {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	max-width: 1215px;
	margin-right: auto;
	margin-left: auto;
/*	border: 3px solid lightseagreen;*/
}
 
.site-content > .inner-column {
	display: flex;
	flex-direction: row;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
/*	border: 3px solid lightseagreen;*/
}

p {
	font-size: 1.3em;
	line-height: 1.3;
	font-family: Metropolis, sans-serif;
	font-weight: 500;
	padding: 10px;
}

.gallery {
/*	place-items: center;*/
}

.gallery .image-list {
	display: grid;
	justify-items: center;
	aligne-items: center;
	gap: 20px;

/*	border: 3px solid limegreen;*/
}


nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
/*	border: 3px solid aqua;*/
	gap: 20px;
}

h1, span {
	font-family: Metropolis, sans-serif;
}

span {
	font-weight: 500;
}

ul {
	list-style-type: none;
}

.about {
/*	border: 3px solid lightseagreen;*/
}

@media (min-width: 500px) {
	.gallery .image-list {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 800px) {
	.gallery .image-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	.gallery .image-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

