/* reset / setup */


/* RESET */
* {
	font: unset;
	color: black;
	margin: 0;
}



a { 
	display: block;
	color: inherit;
	text-decoration: none;

}

mark {
	background-color: wheat;
}

p a, li a {
	display: inline-block;
	text-decoration: underline;
	color: green;
}

p a:hover, li a:hover {
	color: blue;
}

picture {
	display: block;
}

img, svg {
	display: block;
	width: 100%;
	height: auto;
}


/* SECTIONS */
header, footer {
	background-color: lightgreen;
	
}

/* descendant combinator. nav inside
the heade */
header nav {
	margin-top: 10px;
}

header nav a {
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: .05em;
	display: inline-block;
	padding: 5px 10px;
	background-color: rgba(0,0,0,.1);
	margin-bottom: 10px;
}

/*header:hover {*/
/*	background-color: orange;*/
}

/*header:hover nav a {*/
/*	background-color: red;*/
}


header nav a:active { 
	background-color: black;
	color: white;

 }

header nav a:focus { 
	background-color: white;
 }

header nav a:visited { 
	background-color: red;
 }

/* descendant combinator, any inner-column
inside the header. also, only links that
are direct children of inner-column inside header  */
header inner-column > a {
	fill: red;
	max-width: 60px;
}


/* STRUCTURE */
/* custom element */
inner-column {
	display: block;
	padding: 20px;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

section {
	background-color: lightgray;
}

my-cool-module {
	display: block;
	}

my-cool-module h1 {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 20px;
}

/* ARTICLE */
article {
	padding-top: 60px;
	padding-bottom: 60px;
}

article h1 {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.1;
	color: purple;
}

input {
	display: block;
	border: 4px solid blue;
	background-color: blue;
	

input:focus {
	background-color: yellow;
	font-size: 30px;	
}


article p {
	font-family: serif;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.4;
	color: purple;
}

p:first-of-type {
	color: purple;
	font-size: 40px;
}


p:empty {
	border: 1px solid red;
	padding: 10px;
}

article  h1 + p {
	color: red;
	margin-top: 20px;
}

article blockquote {
	background-color: white;
	padding: 20px;
	border-left: 5px solid blue;
}


article p + blockquote {
	margin-top: 20px;
}

article h2{
	font-size: 24px;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.1;
}

article h3{
	font-size: 24px;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
}

article  blockquote + h2 {
	margin-top: 2rem;
}

article  h2 + p{
	margin-top: 1rem;
}

article  p + p{
	margin-top: 1rem;
}

article ol, article, ol {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

article  li + li{
	margin-top: 1rem;
}

article p + h3 {
	margin-top: 2rem;
}

article picture + h2 {
	margin-top: 1.5rem;
}










