
@import "CSS/style-reset.css";

* {
  box-sizing: border-box;
}

html {
  --pea: #D1D1A9;
  --wheat: #E6CFA5;
  --blue: #B7C8CE;
}

.inner-column {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

/* TYPOGOPHY  */

body {
  font-family: sans-serif;

}

.welcome {
  background-color: var(--pea);
}
  
  .about {
    background-color: var(--wheat);
  }

.contact {
  background-color: var(--blue);
}

.attention-voice {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1rem;
}

/* ELEMENTS  */


.graphic-panel {
  display: grid; 
  .info {
    padding: 1rem;
    justify-items: center;
    align-content: center;
    text-align: center;
}
  p {
    margin-top: 1em;
  }
  .action {
    margin-top: 1em;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    background-color: indianred;
  }

  @media (width >=700px) {
  
    grid-template-columns: 1fr 1fr;
  
    &.flipped {
      picture {
        order: 2;
      }
    }
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}


  

